
/* home.html */
@font-face {
    font-family: dancing;
    src: url(DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: vtks;
    src: url(vtks-hunt.regular.ttf);
}

@font-face {
    font-family: dojo;
    src: url(vins-dojo.regular.ttf);
}

body {
    background-color: gray;
    padding-right: 20% 20%;

}

a {
    color: white;
}

a:hover {
    border: 2px solid grey;
}

.topBox {
    display: flex;
    height: 500px;
    width: 60%;
    margin-top: 40px;
    margin-left: 20%;
    border-style: hidden;
    border-color: black;
    color: white;
    background-color: black;
    background: linear-gradient(90deg,black,black,black,grey);
}

.navBar {
    border-style: dotted;
    margin-left: 50%;
    margin-top: 25%;
    font-family: dojo;
    font-size: large;
    position: absolute;
    color: white;
}


.header {
    position: absolute;
    margin-top: 4%;
    margin-left: 20%;
    padding-left: 20px;
    font-family: dancing;
}

.bio {
    margin-top: 15%;
}

h2 {
    text-align: center;
}

.bottomBox {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 500px;
    width: 60%;
    margin-left: 20%;
    border-style: hidden;
    border-color: black;
    color: black;
    background-color: white;
}

.price, .prestine {
    width: 500px;
    margin-left: 20px;
}

.studio, .pricing {
    margin-top: 20px;
}

.prestine:hover, .price:hover {
    border: 2px solid red;
}


/* Mailing List */

fieldset {
    color: white;
    background: linear-gradient(90deg,black,black,black,grey);
    height: 484px;
    width: 60%;
    margin-top: 40px;
    margin-left: 20%;
    border-style: hidden;
    text-align: left;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

#first_name {
    margin-top: 5px;
}

#last_name, {
    margin-bottom: 5px;
}

.lastName {
    margin-right: 103px;
}

#email {
    margin-top: 2px;
}




/* About Us */

.more {
    font-family: dancing;
    margin-left: 50px;
}

.quote {
    font-size: 30px;
    width: 50%;
    margin-top: 15%;
}

.apple {
    width: 100%;
}

.aBlack {
    color: black;
}



/* Pictures */
